EXTERNAL/Camera/config/CDB/schemas/Camera.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="urn:schemas-cosylab-com:Camera:1.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="urn:schemas-cosylab-com:Camera:1.0"
        xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0"
        xmlns:baci="urn:schemas-cosylab-com:BACI:1.0"
        elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"/>
<xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"/>

<xs:complexType name="Camera">
        <xs:sequence>


                <xs:element name="shutterSpeed">
                        <xs:complexType>
                                <xs:complexContent>
                                        <xs:restriction base="baci:RWstring">
                                                <xs:attribute name="description" type="xs:string" use="optional" default="shutterSpeed"/>
                                        </xs:restriction>
                                </xs:complexContent>
                        </xs:complexType>
                </xs:element>

                <xs:element name="isoSpeed">
                        <xs:complexType>
                                <xs:complexContent>
                                        <xs:restriction base="baci:RWstring">
                                                <xs:attribute name="description" type="xs:string" use="optional" default="isoSpeed"/>
                                        </xs:restriction>
                                </xs:complexContent>
                        </xs:complexType>
                </xs:element>

        </xs:sequence>

        <xs:attribute name="id" type="xs:int" use="optional" default="0"/>
</xs:complexType>
<xs:element name="Camera" type="Camera"/>
</xs:schema>
