EXTERNAL/scarletport/config/CDB/schemas/AltAz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - First try at building an altaz mount
   -
   - Author: Nicolas Barriga
   -
   - History:
   -   2005-08-01  NB  Created
  -->
<xs:schema targetNamespace="urn:schemas-cosylab-com:AltAz:1.0" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="urn:schemas-cosylab-com:AltAz:1.0" 
	xmlns:cdb="urn:schemas-cosylab-com:CDB:1.0" 
	xmlns:baci="urn:schemas-cosylab-com:BACI:1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import namespace="urn:schemas-cosylab-com:CDB:1.0" schemaLocation="CDB.xsd"/>
	<xs:import namespace="urn:schemas-cosylab-com:BACI:1.0" schemaLocation="BACI.xsd"/>
	<xs:complexType name="AltAz">
		<xs:sequence>
			<xs:element name="refAlt" type="baci:RWdouble"/>
			<xs:element name="refAz" type="baci:RWdouble"/>
			<xs:element name="realAlt" type="baci:ROdouble"/>
			<xs:element name="realAz" type="baci:ROdouble"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AltAz" type="AltAz"/>
</xs:schema>
